@model SGCFT.Apresentacao.Models.UsuarioViewModel
@{
    ViewBag.Title = "Index";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Cadastro de usuário</h2>

@if (ViewBag.Sucesso != null)
{
    if ((bool)ViewBag.Sucesso)
    {
        <div class="alert alert-success" role="alert">Usuário cadastrado com sucesso</div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @foreach (string mensagem in ViewBag.Mensagens as List<string>)
            {
               @mensagem
                <br />
            }
        </div>
    }
}

@using (Html.BeginForm("Index", "Usuario", FormMethod.Post, new { id = "formUsuario", @class = "form-group" }))
{
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2">Nome: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Nome, new { id = "txtNome", @class = "form-control", autocomplete = "off" })
                <label class="warning">@Html.ValidationMessageFor(x => x.Nome)</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Email, new { id = "txtEmail", @class = "form-control", autocomplete = "off" })
                <label class="warning">@Html.ValidationMessageFor(x => x.Email)</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Senha: </label>
            <div class="col-md-10">
                @Html.PasswordFor(x => x.Senha, new { id = "txtSenha", @class = "form-control", autocomplete = "off" })
                <label class="warning">@Html.ValidationMessageFor(x => x.Senha)</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cpf: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Cpf, new { id = "txtCpf", @class = "form-control", autocomplete = "off" })
                <label class="warning">@Html.ValidationMessageFor(x => x.Cpf)</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cnpj: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Cnpj, new { id = "txtCnpj", @class = "form-control", autocomplete = "off" })
                <label class="warning">@Html.ValidationMessageFor(x => x.Cnpj)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
}
