@model SGCFT.Apresentacao.Models.AlternativaViewModel
@{
    ViewBag.Title = "Cadastro de alternativas";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="section section-md bg-gray-100">
    <div class="container">
        @if (ViewBag.Sucesso != null)
        {
            if ((bool)ViewBag.Sucesso)
            {
                <div class="alert alert-success" role="alert">Alternativa cadastrada com sucesso</div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (string mensagem in ViewBag.Mensagens as List<string>)
                    {
                        @mensagem
                        <br />
                    }
                </div>
            }
        }

        <h3 class="text-center">Cadastro de alternativas</h3>

        @using (Html.BeginForm("Index", "Alternativa", FormMethod.Post, new { id = "formAlternativa", @class = "rd-form" }))
        {
            <div class="row row-x-16 row-20">
                <div class="col-md-6">
                    <div class="form-wrap">
                        @Html.TextBoxFor(x => x.IdPergunta, new { id = "txtIdPergunta", @class = "form-input", autocomplete = "off" })
                        <label class="form-label" for="txtIdPergunta">Pergunta</label>
                        <label class="warning">@Html.ValidationMessageFor(x => x.IdPergunta)</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-wrap">
                        @Html.TextBoxFor(x => x.Texto, new { id = "txtTexto", @class = "form-input", autocomplete = "off" })
                        <label class="form-label" for="txtTexto">Texto</label>
                        <label class="warning">@Html.ValidationMessageFor(x => x.Texto)</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-wrap">
                        <label class="control-label-custom">Certo ou errado: </label>
                        @Html.CheckBoxFor(x => x.CertoErrado, new { id = "txtCertoErrado" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-wrap form-button">
                        <button class="button button-block button-primary" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>