@model SGCFT.Apresentacao.Models.AlternativaViewModel
@{
    ViewBag.Title = "Index";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Cadastro de alternativas</h2>

@if (ViewBag.Sucesso != null)
{
    if ((bool)ViewBag.Sucesso)
    {
        <div class="alert alert-success" role="alert">Alternativa cadastrada com sucesso</div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @foreach (string mensagem in ViewBag.Mensagens as List<string>)
            {
                @mensagem
                <br />
            }
        </div>
    }
}

@using (Html.BeginForm("Index", "Alternativa", FormMethod.Post, new { id = "formAlternativa", @class = "form-group" }))
{
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-2">IdPergunta: </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.IdPergunta, new { id = "txtIdPergunta", @class = "form-control", autocomplete = "off" })
                    <label class="warning">@Html.ValidationMessageFor(x => x.IdPergunta)</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Texto: </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Texto, new { id = "txtTexto", @class = "form-control", autocomplete = "off" })
                    <label class="warning">@Html.ValidationMessageFor(x => x.Texto)</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Certo ou errado: </label>
                <div class="col-md-2">
                    @Html.CheckBoxFor(x => x.CertoErrado, new { id = "txtCertoErrado"})
                </div>
            </div>
        </div>

    <div class="row">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

}
