@model SGCFT.Apresentacao.Models.ModuloExibicaoViewModel
@{
    ViewBag.Title = $"Módulo: {Model.Titulo}";
}

@section scripts {
    <script type="text/javascript">
        var link = '@Url.Action("ExibirConteudo", "Video", new { titulo = "titulo", id = "identificador" })';
        var questionarios = [];
        $(document).ready(function () {
            $("#loading").remove();
            $(".page").removeClass("page");
        });

        function trocarvideo(titulo, id) {
            var novoLink = link;
            novoLink = novoLink.replace("titulo", titulo);
            novoLink = novoLink.replace("identificador", id);
            $(".list-group-item").removeClass("active");
            $("#video-" + id).addClass("active");
            $("#videosModulo").html('<source src="' + novoLink + '" type="video/mp4"><source src="mov_bbb.ogg" type="video/ogg">Your browser does not support HTML5 video.');
            $("#videosModulo")[0].load();
            $("#videosModulo")[0].play();
        }

        function exibirQuestionario() {
            var urlQuestionario = '@Url.Action("ObterQuestionario", "Pergunta", new { idModulo = "trocar" })';
            urlQuestionario = urlQuestionario.replace("trocar", $("#hddIdModulo").val());
                $.ajax({
                    type: 'GET',
                    url: urlQuestionario,
                    cache: false,
                    success: function (retorno) {
                        questionarios = retorno;
                        $("#conteudo-modal").html("");
                        for (var i = 0; i < retorno.length; i++) {
                            var template = document.getElementById('template-questionario').innerHTML;
                            template = template.replace('{{Pergunta}}', retorno[i].Pergunta);
                            var alternativas = "";
                            for (var j = 0; j < retorno[i].Alternativas.length; j++) {
                                var templateAlternativa = document.getElementById('template-alternativa').innerHTML;
                                templateAlternativa = templateAlternativa.replace("{{Indice}}", i);
                                templateAlternativa = templateAlternativa.replace("{{Id}}", retorno[i].Alternativas[j].Id);
                                templateAlternativa = templateAlternativa.replace("{{Alternativa}}", retorno[i].Alternativas[j].Texto);
                                alternativas = alternativas + templateAlternativa;
                            }
                            template = template.replace('{{Alternativas}}', alternativas);
                            $("#conteudo-modal").append(template);
                        }
                        $("#modal-questionario").modal('toggle');
                    },
                    error: function (retorno) {
                        $("#card-body-video").append('<div class="alert alert-danger" role="alert">Erro ao obter o questionário</div>');
                    }
                });
        }
    </script>
}

<section class="section section-xl bg-accent">
    <div class="container">
        <div class="row row-50 justify-content-center flex-lg-row-reverse align-items-center justify-content-lg-between">
            <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
                <div class="container">
                    <h3 class="text-center">@Model.Titulo</h3>
                    @Html.HiddenFor(x => x.Id, new { id = "hddIdModulo" })
                    <div class="list-group">
                        @for (int i = 0; i < Model.Videos.Count; i++)
                        {
                            if (i == 0)
                            {
                                <a id="video-@Model.Videos[i].Id" href="#" class="list-group-item list-group-item-action active" onclick="trocarvideo('@Model.Videos[i].Titulo', '@Model.Videos[i].Id');">
                                    @Model.Videos[i].Titulo
                                </a>
                            }
                            else
                            {
                                <a id="video-@Model.Videos[i].Id" href="#" class="list-group-item list-group-item-action" onclick="trocarvideo('@Model.Videos[i].Titulo', '@Model.Videos[i].Id');">
                                    @Model.Videos[i].Titulo
                                </a>
                            }
                        }
                        <a id="questionario" href="javascript:void(0);" class="list-group-item list-group-item-action" onclick="exibirQuestionario();">
                            Questionário do módulo
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                <h3 class="text-center">@Model.Videos.First().Titulo</h3>
                <video width="570" height="400" controls id="videosModulo">
                    <source src="@Url.Action("ExibirConteudo", "Video", new { titulo = Model.Videos.First().Titulo, id = Model.Videos.First().Id })" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="modal-questionario" role="dialog" data-backdrop="static" tabindex="-1" data-keyboard="false" aria-labelledby="questionario">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-12 modal-title text-center">Questionário do módulo: @Model.Titulo</h4>
            </div>
            <div class="modal-body" id="conteudo-modal">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" aria-label="Cancelar operação" id="btnFecharModalTipoPublicacao">
                    <i class="fas fa-times-circle"></i> Cancelar
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger" id="btnExcluir" onclick="excluirAplicacao(this);" aria-label="Confirmar operação">
                    <i class="fas fa-trash-alt"></i> Excluir
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="template-questionario">
    <div class="form-row" style="margin-bottom: 15px;">
        <div class="col-8 offset-2" style="border-bottom:1px solid silver; padding-bottom: 10px;">
            <h4 class="text-center" style="font-weight:bold;">
                {{Pergunta}}
            </h4>
            <div class="form-group">
                {{Alternativas}}
            </div>
            
        </div>
    </div>
</script>

<script type="text/template" id="template-alternativa">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" name="OpcaoEscolhida[{{Indice}}]" value="{{Id}}" aria-label="Alternativa">
            </div>
        </div>
        <span style="border: 1px solid #e9ecef;padding: 5px;border-radius: 0.25rem;width: 90%;">{{Alternativa}}</span>
    </div>
    <br />
</script>