@model SGCFT.Apresentacao.Models.ModuloViewModel
@{
    ViewBag.Title = "Cadastro de módulos";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<section class="section section-md bg-gray-100">
    <div class="container">
        @if (ViewBag.Sucesso != null)
        {
            if ((bool)ViewBag.Sucesso)
            {
                <div class="alert alert-success" role="alert">Módulo cadastrado com sucesso</div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (string mensagem in ViewBag.Mensagens as List<string>)
                    {
                        @mensagem
                        <br />
                    }
                </div>
            }
        }

        <h3 class="text-center">Cadastro de módulos</h3>

        @using (Html.BeginForm("Index", "Modulo", FormMethod.Post, new { id = "formModulo", @class = "rd-form" }))
        {
            <div class="row row-x-16 row-20">
                <div class="col-md-6">
                    <div class="form-wrap">
                        @Html.DropDownListFor(x => x.IdTreinamento, new SelectList(Model.ListaTreinamentos, "Id", "Tema"), "Selecione um treinamento", new { id = "ddlTreinamentos", @class = "form-control form-select" })
                        <label class="warning">@Html.ValidationMessageFor(x => x.IdTreinamento)</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-wrap">
                        @Html.TextBoxFor(x => x.Titulo, new { id = "txtTitulo", @class = "form-input", autocomplete = "off" })
                        <label class="form-label" for="txtTitulo">Título</label>
                        <label class="warning">@Html.ValidationMessageFor(x => x.Titulo)</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-wrap form-button">
                        <button class="button button-block button-primary" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
